---
import { type CollectionEntry, getCollection } from "astro:content";
import { type BlogSchema } from "@content/config";
import PostLayout from "@layouts/PostLayout.astro";
import createSlug from "@lib/create_slug";

export const prerender = true;

export async function getStaticPaths() {
  const postEntries = await getCollection("blog");
  return postEntries.map((entry) => ({
    params: { slug: createSlug(entry.data.title, entry.slug) },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const post: BlogSchema = entry.data;
const { Content } = await entry.render();
---

<PostLayout
  title={post.title}
  description={post.description}
  pubDate={post.pubDate}
  updatedDate={post.updatedDate}
  heroImage={post.heroImage}
  badge={post.badge}
  tags={post.tags}
>
  <div class="mb-10">
    <Content />
  </div>
</PostLayout>
