---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import createSlug from "@lib/create_slug";
import Card from "@components/Card.astro";
import TimeLine from "@components/TimeLine.astro";
import HorizontalCard from "@components/HorizontalCard.astro";

import { TECH_STACK, EDUCATIONS, MYEMAIL, EXPERIENCES} from "../config";

const projects = (await getCollection("projects"))
  .filter((p) => p.data.important === true)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<Layout urlMenuItem="/home">
  <div class="flex justify-center flex-col px-5  items-center">
    <!-- Presentation -->
    <section class="max-w-screen-lg w-full my-10 flex flex-col gap-4 md:grid md:grid-cols-4 mb-16">
      <div
        class="flex md:grid md:order-last md:justify-end md:items-center animate-fade-left max-sm:animate-fade-right"
      >
        <Image
          src="/yo.webp"
          height="175"
          width="175"
          alt="Logo Luis Palacios"
          class="rounded-full"
        />
      </div>
      <div
        class="md:flex md:flex-col md:grid-cols-subgrid md:col-span-3 lg:items-start"
      >
        <h1
          class="prose dark:prose-invert text-lg md:text-xl lg:text-2xl font-bold mb-3 animate-fade-left lg:animate-fade-right"
        >
          Hola, mi nombre es
          <span class="text-3xl md:text-4xl lg:text-5xl text-primary block"
            >Luis Palacios</span
          >
        </h1>

        <div
          class="mb-6 flex gap-4 items-center animate-fade-left lg:animate-fade-right"
        >
          <p
            class="prose dark:prose-invert text-lg md:text-xl lg:text-2xl font-bold inline text-accent"
          >
            Mg. en Ingenier칤a de Software y Sistemas Inform치ticos
          </p>
          <Icon name="ecu" size={25} />
        </div>

        <article
          class="prose dark:prose-invert prose-sm md:prose-base lg:prose-lg mb-6 animate-fade lg:animate-fade-right lg:max-w-none"
        >
          <p>
            游녦 Soy un Ingeniero de Sistemas de Ecuador apasionado con el desarrollo de software 游눹, tanto del Backend como Frontend (Full Stack). Actualmente, trabajo en AustroRed 游눺 que pertenece al sector financiero. Adem치s, trabajo en la industria tecnol칩gica desde 2019, ocupando puestos de ingenier칤a de desarrollo en grandes empresas como Banco del Austro y Mastermoto. Tambi칠n realizo proyectos como Freelancer.
          </p>
          <p>
          游닄 Si no estoy codificando, estoy leyendo libros sobre educaci칩n financiera y emprendimiento. Me gusta trabajar en equipo, ayudar a los dem치s y mi personalidad es extrovertido.
          </p>
          
          <button id="btn-download-index" class="btn text-lg btn-accent md:hidden hover:scale-105">
            <Icon name="download" />Descargar CV
          </button>

        </article>

        <div
          class="flex flex-row gap-16  animate-fade lg:animate-fade-right"
        >
          <a
            class="hover:text-primary"
            href="https://www.linkedin.com/in/palaciosluismig/"
            target="_blank"
          >
            <Icon name="social_networks/linkedin" size={30} />
          </a>
          <a
            class="hover:text-primary"
            href="https://github.com/palaciosluismig"
            target="_blank"
          >
            <Icon name="social_networks/github" size={30} />
          </a>
          <a
            class="hover:text-primary"
            href="https://www.instagram.com/palaciosluismig/"
            target="_blank"
          >
            <Icon name="social_networks/instagram" size={30} />
          </a>
        </div>
      </div>
    </section>

    <!-- Experience -->
    <section class="max-w-screen-lg w-full mb-16">
      <div class="md:flex md:flex-col lg:items-start">
        <h2
          class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary mb-10 flex flex-row items-center"
        >
          <Icon name="experience" class="mr-2" />Experiencia
        </h2>
        <div id="timeline" class="mb-10">
          {EXPERIENCES.slice(0, 4).map((experience) => {
            return (
                <TimeLine
                company = {experience.company}
                job = {experience.job}
                tags = {experience.tags}
                date = {experience.date}
                city = {experience.city}
                country = {experience.country}
                logo = {experience.logo}
                description = {experience.description}
                height = {experience.height}
                width = {experience.width}
                >
                </TimeLine>  
            );
            })
          }
        </div>

      </div>
      <!-- Button: show more experience -->
      <div class="col-span-full md:flex md:justify-start lg:justify-center">
        <a
          href="/experience"
          class="btn btn-primary w-full md:w-auto  "
        >
          <Icon name="more" class="inline-block ml-2" size={22} />
          Conocer m치s
        </a>
      </div>
    </section>

    <!-- Projects -->
    <section class="max-w-screen-lg w-full mb-16">
      <div class="text-3xl w-full font-bold mb-2">
        <h2
          class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary mb-10 flex flex-row items-center"
        >
          <Icon name="projects" class="mr-2" />Proyectos como Freelancer
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-8">
          {
            projects.map((project) => (
              <Card
                title={project.data.title}
                desc={project.data.description}
                pubDate={project.data.pubDate}
                img={project.data.heroImage}
                badge={project.data.badge}
                url={
                  "/projects/" + createSlug(project.data.title, project.slug)
                }
                target="_self"
                github={project.data.github}
                website={project.data.website}
                skills={project.data.skills}
              />
            ))
          }
        </div>

        <!-- Button: show all projects -->
        <div class="col-span-full md:flex md:justify-start lg:justify-center">
          <a
            href="/projects"
            class="btn btn-primary w-full md:w-auto  "
          >
            <Icon name="more" class="inline-block ml-2" size={22} />
            M치s proyectos
          </a>
        </div>
      </div>
    </section>

    <!-- Tech Stack -->
    <section class="max-w-screen-lg w-full mb-16">
      <div class="2text-3xl w-full font-bold">
        <h2
          class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary mb-10 flex flex-row items-center"
        >
          <Icon name="bug" class="mr-2" />Tecnolog칤as
        </h2>

        <div class="flex flex-wrap flex-col sm:flex-row">
          <!-- Front-end -->
          <div class="w-full md:w-1/2">
            <h3
              class="prose dark:prose-invert text-lg md:text-xl lg:text-2xl font-semibold text-accent mb-10 flex flex-row content-center justify-start max-w-none"
            >
              Front-end
            </h3>

            <div class="flex flex-wrap justify-start gap-4 mb-12">
              {
                TECH_STACK.map((skill) => {
                  if (skill.category === "Front-end") {
                    return (
                      <div class="flex flex-col items-center gap-2">
                        <Icon
                          name={`tech_skills/${skill.logo}`}
                          class="h-8 md:h-10 lg:h-16 animate-wiggle animate-infinite animate-duration-[1000ms] animate-ease-in-out"
                          size={100}
                        />
                        <p class="prose text-sm font-normal">{skill.name}</p>
                      </div>
                    );
                  }
                })
              }
            </div>
          </div>

          <!-- Back-end -->
          <div class="w-full md:w-1/2">
            <h3
              class="prose dark:prose-invert text-lg md:text-xl lg:text-2xl font-semibold text-accent mb-10 flex flex-row content-center justify-start max-w-none"
            >
              Back-end
            </h3>

            <div class="flex flex-wrap justify-start gap-4 mb-12">
              {
                TECH_STACK.map((skill) => {
                  if (skill.category === "Back-end") {
                    return (
                      <div class="flex flex-col items-center gap-2">
                        <Icon
                          name={`tech_skills/${skill.logo}`}
                          class="h-8 md:h-10 lg:h-16 animate-wiggle animate-infinite animate-duration-[1000ms] animate-ease-in-out"
                          size={100}
                        />
                        <p class="prose text-sm font-normal">{skill.name}</p>
                      </div>
                    );
                  }
                })
              }
            </div>
          </div>
        </div>

        <div class="flex flex-wrap flex-col sm:flex-row">
          <!-- Data base -->
          <div class="w-full md:w-1/2">
            <h3
              class="prose dark:prose-invert text-lg md:text-xl lg:text-2xl font-semibold text-accent mb-10 flex flex-row content-center justify-start max-w-none"
            >
              Base de Datos
            </h3>

            <div class="flex flex-wrap justify-start gap-4 mb-12">
              {
                TECH_STACK.map((skill) => {
                  if (skill.category === "Database") {
                    return (
                      <div class="flex flex-col items-center gap-2">
                        <Icon
                          name={`tech_skills/${skill.logo}`}
                          class="h-8 md:h-10 lg:h-16 animate-wiggle animate-infinite animate-duration-[1000ms] animate-ease-in-out"
                          size={100}
                        />
                        <p class="prose text-sm font-normal">{skill.name}</p>
                      </div>
                    );
                  }
                })
              }
            </div>
          </div>

          <!-- Version Control -->
          <div class="w-full md:w-1/2">
            <h3
              class="prose dark:prose-invert text-lg md:text-xl lg:text-2xl font-semibold text-accent mb-10 flex flex-row content-center justify-start max-w-none"
            >
              Control de Versiones
            </h3>

            <div class="flex flex-wrap justify-start gap-4 mb-12">
              {
                TECH_STACK.map((skill) => {
                  if (skill.category === "Version-Control") {
                    return (
                      <div class="flex flex-col items-center gap-2">
                        <Icon
                          name={`tech_skills/${skill.logo}`}
                          class="h-8 md:h-10 lg:h-16 animate-wiggle animate-infinite animate-duration-[1000ms] animate-ease-in-out"
                          size={100}
                        />
                        <p class="prose text-sm font-normal">{skill.name}</p>
                      </div>
                    );
                  }
                })
              }
            </div>
          </div>
        </div>

        <div class="flex flex-wrap flex-col sm:flex-row">
          <!-- Low Code -->
          <div class="w-full md:w-1/2">
            <h3
              class="prose dark:prose-invert text-lg md:text-xl lg:text-2xl font-semibold text-accent mb-10 flex flex-row content-center sm:justify-start sm:content-start max-w-none"
            >
              Low-Code
            </h3>

            <div class="flex flex-wrap gap-4">
              {
                TECH_STACK.map((skill) => {
                  if (skill.category === "Low-Code") {
                    return (
                      <div class="flex flex-col items-center gap-2">
                        <Icon
                          name={`tech_skills/${skill.logo}`}
                          class="h-8 md:h-10 lg:h-16 animate-wiggle animate-infinite animate-duration-[1000ms] animate-ease-in-out"
                          size={150}
                        />
                        <p class="prose text-sm font-normal">{skill.name}</p>
                      </div>
                    );
                  }
                })
              }
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Education -->
    <section class="max-w-screen-lg w-full mb-12">
      <div class="w-full">
        <h2
          class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary mb-10 flex flex-row items-center"
        >
          <Icon name="education" class="mr-2" />Educaci칩n
        </h2>

        <div class="flex flex-wrap flex-col">

          <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-6">
            {
              EDUCATIONS.map((education) => {
                if (education.priority === 1) {
                return (
                    <div class="flex flex-row">
                      <div class="min-w-40">
                        <img src=`${education.image}` alt={education.specialty} class="w-40 mb-6 pr-6" />
                      </div>
                      <div>
                        <h3 class="prose dark:prose-invert text-lg md:text-xl lg:text-2xl font-semibold text-accent mb-3 flex flex-row content-center justify-start max-w-none" >
                        {education.educational_center}
                        </h3>
                        <p class="prose dark:prose-invert prose-sm md:prose-base lg:prose-lg mb-4 lg:max-w-none font-light">{education.date}</p>
                        <p class="prose dark:prose-invert prose-sm md:prose-base lg:prose-lg mb-2 lg:max-w-none font-normal line-clamp-3 md:line-clamp-4">{education.specialty}</p>
                      </div>
                    </div>

                );
              }})
            }
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section class="max-w-screen-lg w-full mb-12">
      <div class="w-full">
        <h2
          class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary mb-10 flex flex-row items-center">
          <Icon name="contact" class="mr-2" />Contacto
        </h2>

        <div class="flex flex-wrap gap-4 justify-between mb-6">
          <label id="lblEmail" class="input input-primary input-bordered flex items-center gap-2 w-full md:w-[60%]">
            <Icon name="email" size={20} />
            {MYEMAIL}
          </label>
          <div class="flex w-full md:w-[37%] gap-4 justify-between">
            <div class="w-1/2">
              <a href={`mailto:${MYEMAIL}`} class="btn btn-primary w-full">
                <Icon name="send" class="inline-block ml-2" />
                Enviar
              </a>
            </div>
            <div class="w-1/2">
              <button id="btnEmailCopy" class="btn btn-primary w-full">
                <Icon name="copy" class="inline-block ml-2" />
                Copiar
              </button>
            </div>
            <div id="altEmailCopy" class="toast toast-center hidden">
              <div class="alert alert-info bg-accent">
                <span>Copiado</span>
                <Icon name="copy" class="inline-block ml-2" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Last Posts -->
    <section class="max-w-screen-lg w-full mb-12">
      <div class="w-full">
        <h2
          class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary mb-10 flex flex-row items-center">
          <Icon name="blog" class="mr-2" />칔ltimos posts
        </h2>

        <div class="flex flex-wrap gap-4 justify-between">
          {last_posts.map((project) => (
              <>
                <HorizontalCard
                  title={project.data.title}
                  description={project.data.description}
                  pubDate={project.data.pubDate}
                  heroImage={project.data.heroImage}
                  badge={project.data.badge}
                  tags={project.data.tags}
                  url={
                  "/blog/" + createSlug(project.data.title, project.slug)
                  }
                  target="_self"
                />
                <div class="divider my-0" />
              </>
            ))}
        </div>
      </div>
    </section>
  
  </div>
</Layout>
<script>
  document.addEventListener('astro:page-load', () => {
    
    // Email Copy
    const toastEmailCopy = document.getElementById("altEmailCopy");
    
    function emailCopy(text:string) {
      const labelEmail = document.getElementById(text);
      if (labelEmail){

        const textEmail = labelEmail?.innerText || labelEmail?.textContent || ""
        navigator.clipboard.writeText(textEmail);
        toastEmailCopy?.classList.remove("hidden");
        setTimeout(()=> {
          toastEmailCopy?.classList.add("hidden");
        },2000);
      }
    }

    const btnEmailCopy = document.querySelector("#btnEmailCopy");

    if (btnEmailCopy){
      btnEmailCopy.addEventListener("click", () => {emailCopy("lblEmail")});
    }

    // Download button 
    const btnDownload =  document.getElementById("btn-download-index");
    
    if (btnDownload){
      btnDownload.addEventListener("click", function() {
        const url = "/cv/CV-Luis-Miguel-Palacios.pdf";
        var link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", "CV-Luis-Miguel-Palacios.pdf");
        link.click();
    });
    }

  })
</script>