---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import {EDUCATIONS, RECOGNITIONSANDAWARDS} from "../config";
import MiniCard from "@components/MiniCard.astro";
---

<Layout title="Perfil" urlMenuItem="/profile">
    <div class="flex justify-center flex-col px-5 items-center">
        <div class="max-w-screen-lg w-full">
            
            <!-- Profile -->
            <section>
            
            <h1 class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary my-10 flex flex-row items-center " >
                <Icon name="profile" class="mr-2" /> Perfil
            </h1>

            <div class="md:flex md:justify-between gap-10">
                <div
                    class="flex md:grid md:order-last justify-center items-center md:justify-end md:items-center animate-fade-left md:content-start max-sm:animate-fade-right mb-10"
                >
                    <Image
                    src="/yo.webp"
                    height="175"
                    width="175"
                    alt="Logo Luis Palacios"
                    class="rounded-full"
                    />
                </div>
                
                <div class="flex flex-col md:w-3/4">

                    <span class="bg-accent-content text-accent text-base font-medium px-2.5 py-1 rounded-xl mb-6">Mg. en Ingeniería de Software y Sistemas Informáticos • Ing. en Sistemas • Desarrollador Fullstack • SDPC • SMPC</span>
                    
                    <button id="btn-download-profile" class="btn mb-6 px-2.5 text-lg btn-accent md:hidden hover:scale-105">
                        <Icon name="download" />Descargar CV
                    </button>

                    <p class="prose dark:prose-invert mb-4 max-w-none">
                    Bienvenido a mi perfil. 👋 Soy Luis Palacios, un apasionado de la
                    tecnología de origen ecuatoriano y una crianza en el entorno rural de la
                    provincia del Azuay, rodeado de naturaleza y animales.
                    </p>
                    <p class="prose dark:prose-invert mb-4 max-w-none">
                    Desde mis primeros años escolares, la informática 🖥️ capturó mi interés de
                    manera innegable. Recuerdo con emoción la sensación de asombro al
                    descubrir que mi computadora podía conectarse a internet, abriendo un
                    mundo de posibilidades para investigar y aprender sobre mis intereses.
                    </p>
                    <p class="prose dark:prose-invert mb-4 max-w-none">
                    Este descubrimiento marcó mi ingreso al mundo de la programación 👨‍💻, donde
                    encontré una vía para materializar ideas que alguna vez consideré
                    imposibles. A lo largo de mi trayectoria, he adquirido habilidades y
                    conocimientos que me permiten abordar proyectos de software complejos
                    con confianza y determinación.
                    </p>
                    <p class="prose dark:prose-invert mb-4 max-w-none">
                    Mi experiencia 💼 me ha llevado a desarrollar competencias en áreas tan
                    diversas como arquitectura de software, infraestructura tecnológica,
                    seguridad de la información, gestión de operaciones y cumplimiento
                    normativo. Estoy comprometido a enfrentar desafíos con creatividad,
                    rigor y una mentalidad orientada a resultados.
                    </p>
                </div>
            </div>

            </section>
            
            <!-- University -->
            <section>
            <h1 class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary my-10 flex flex-row items-center" >
                <Icon name="education" class="mr-2" /> Universidad
            </h1>

            <ol class="relative border-s border-primary dark:border-gray-700 ml-4 mb-16 animate-fade-left lg:animate-fade-right ">

            {
            EDUCATIONS.map((education) => {
                if (education.type === "university") {
                return (
                    <>
                    <MiniCard
                        title={education.educational_center}
                        date={education.date}
                        subtitle={education.modality}
                        subtitle2={education.country}
                        description={education.specialty}
                        logo={education.image}
                        imagen={education.certificate}
                    />
                    </>
                );
            }})
            }
            </ol>
            </section>

            <!-- Certifications -->
            <section>
            <h1 class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary my-10 flex flex-row items-center" >
                <Icon name="certification" class="mr-2" />Certificaciones
            </h1>

            <ol class="relative border-s border-primary dark:border-gray-700 ml-4 mb-16  animate-fade-left lg:animate-fade-right">
            
            {
            EDUCATIONS.map((education) => {
                if (education.type === "certification") {
                return (
                    <>
                    <MiniCard
                        title={education.educational_center}
                        date={education.date}
                        subtitle={education.modality}
                        description={education.specialty}
                        logo={education.image}
                        imagen={education.certificate}
                    />
                    </>
                );
            }})
            }
            </ol>

            </section>

            <!-- Courses -->
            <section>
                <h1 class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary my-10 flex flex-row items-center" >
                    <Icon name="programming" class="mr-2" />Cursos
                </h1>

            
                <ol class="relative border-s border-primary dark:border-gray-700 ml-4 mb-16 animate-fade-left lg:animate-fade-right">

                {
                    EDUCATIONS.map((education) => {
                        if (education.type === "course") {
                        return (
                            <>
                                <MiniCard
                                    title={education.educational_center}
                                    date={education.date}
                                    subtitle={education.modality}
                                    description={education.specialty}
                                    logo={education.image}
                                    imagen={education.certificate}
                                />
                            </>
                            );
                        }})
                }
                </ol>

            </section>
            
            <!-- Recognitions and Awards -->
            <section>
                <h1 class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary my-10 flex flex-row items-center" >
                    <Icon name="medal" class="mr-2" />Reconocimientos & Premios
                </h1>
                <div class="flex flex-col md:flex-row gap-6 mb-12">
                    {
                        RECOGNITIONSANDAWARDS.map((award) =>{
                            return(
                                <>
                                <div>
                                    
                                <div>
                                    <img
                                    src=`${award.image}`
                                    alt=`Logo de ${award.title}`
                                    class="rounded-md w-full"
                                    />                                    
                                </div>
                                <div>
                                    <h2 class="font-semibold prose-sm md:prose-base lg:prose-lg  my-2">{award.title}
                                    </h2>
                                    <p class="prose dark:prose-invert prose-sm md:prose-base lg:prose-lg block mb-5 leading-none text-gray-400">
                                    {award.center} • {award.expedition_date}
                                    </p>                                    
                                </div>
                                </div>
                                </>
                            )
                        })
                    }
                </div>
            </section>
    </div>
  </div>
</Layout>
<script>
  document.addEventListener('astro:page-load', () => {

    const btnDownload =  document.getElementById("btn-download-profile");
    
    if (btnDownload){
      btnDownload.addEventListener("click", function() {
        const url = "/cv/CV-Luis-Miguel-Palacios.pdf";
        var link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", "CV-Luis-Miguel-Palacios.pdf");
        link.click();
    });
    }    
  });
</script>
