---
import { type CollectionEntry, getCollection } from "astro:content";
import { type ProjectSchema } from "@content/config";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import createSlug from "@lib/create_slug";

export const prerender = true;

export async function getStaticPaths() {
  const projectEntries = await getCollection("projects");
  return projectEntries.map((entry) => ({
    params: { slug: createSlug(entry.data.title, entry.slug) },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"projects">;
}

const { entry } = Astro.props;
const project:ProjectSchema = entry.data;
const { Content } = await entry.render();
---

<ProjectLayout
  title={project.title}
  description={project.description}
  pubDate={project.pubDate}
  important={project.important}
  badge={project.badge}
  heroImage={project.heroImage}
  github={project.github}
  website={project.website}
  tags={project.tags}
  skills={project.skills}
>
  <div class="my-10">
    <Content />
  </div>
</ProjectLayout>

