---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import BaseHead  from "../components/BaseHead.astro";

import { TRANSITION_API,SITE_TITLE, SITE_DESCRIPTION } from "../config";

import { ViewTransitions } from "astro:transitions";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  urlMenuItem,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="fantasy" class="">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      ogType={ogType}
    />
    {TRANSITION_API && <ViewTransitions />}
  </head>
  <body class="flex flex-col min-h-screen">
    <main class="flex-1">
      <NavBar title={SITE_TITLE} urlMenuItem={urlMenuItem} />
      <div class="min-h-fit">
        <slot />
      </div>
    </main>
    <Footer></Footer>
  </body>
</html>
<style is:global>
    #timeline ol:last-of-type p:last-of-type {
        padding-bottom: 0px;
    }
    #timeline ol:last-of-type li:last-of-type {
        padding-bottom: 0px;
    }
</style>
<script>
  
    const toastEmailCopy = document.getElementById("altEmailCopyFooter");
    
    function emailCopy() {
      const labelEmail = document.getElementById("lblEmailFooter");
      if (labelEmail){
  
        const textEmail = labelEmail?.innerText || labelEmail?.textContent || ""
        navigator.clipboard.writeText(textEmail);
        toastEmailCopy?.classList.remove("hidden");
        setTimeout(()=> {
          toastEmailCopy?.classList.add("hidden");
        },2000);
      }
    }
  
    const btnEmailCopy = document.querySelector("#btnEmailCopyFooter");
  
    if (btnEmailCopy){
      btnEmailCopy.addEventListener("click", emailCopy);
    }
</script>