---
import { type BlogSchema } from "@content/config";
import Layout from "@layouts/Layout.astro";
import dayjs from "dayjs";
import es from "dayjs/locale/es";
import localizedFormat from "dayjs/plugin/localizedFormat";
import { Image } from "astro:assets";

export interface Props extends BlogSchema {}

const { title, description, pubDate, heroImage, badge, tags } = Astro.props;

dayjs.extend(localizedFormat);
dayjs.locale(es);
const displayDate = dayjs(pubDate).format("LL");

---
<Layout
  title={title}
  description={description}
  image={heroImage}
  ogType="article"
>
  <main class="flex justify-center flex-col px-5 items-center">
    <article class="prose max-w-screen-lg w-full">
      
      <h1 class="prose dark:prose-invert text-xl md:text-2xl lg:text-3xl font-bold text-primary my-10 flex flex-row items-center ">
        {title}
      </h1>
      <div class="flex justify-start items-start">
        {
          heroImage && (
            <Image
              width={1}
              height={1}
              format="webp"
              src={heroImage}
              alt={title}
              class="w-full lg:w-2/3 mb-4 mt-0 border-2 rounded-t-2x rounded-lg border-primary"
            />
          )
        }
      </div>
      
      <!-- Date -->
      {pubDate && <time class="block mb-4">{displayDate}</time>}

      <!-- Badge -->
      {badge && 
        <div class="badge badge-primary font-medium mr-2 p-4 mb-2">
          {badge}
        </div>
      }
      
      <!-- Tags -->
      {
        tags &&
          tags.map((tag) => (
            <div
              class="badge badge-outline mr-2 no-underline text-primary font-medium p-4 mb-2"
            >
              {tag}
            </div>
          ))
      }
      
      <slot />
    </article>
  </main>
</Layout>